<div id="head">
        <div>QuizApp</div>
</div>
<div id="body">
    <div style="text-align: center;padding: 20px 0px 0px 0px;">Welcome to QuizApp!</div>
    <div class="row">
    <div class="box col-4">
        <h2 style="color:#F54748">Quiz</h2>
        <p>Take a Quiz now!</p>
        <a routerLink="/quiz"><button class="btn btn-danger">Start Quiz</button></a>
    </div>
    <div class="box col-4">
        <h2 style="color:#01937C">Review</h2>
        <p>Review your test!</p>
        <a routerLink="/review"><button class="btn btn-danger">Review</button></a>
    </div>
    <div class="box col-4">
        <h2 style="color:#FB9300">Result</h2>
        <p>See your result!</p>
        <a routerLink="/result"><button class="btn btn-danger">Result</button></a>
    </div>
    </div>
</div>
<!-- <div *ngFor="let quizs of quiz">
{{quizs.question}}
</div> -->

