#body
{
    padding: 20px;
    font-family: 'Montserrat',sans-serif;
}
.box
{
    /* border: solid 1px; */
    padding: 100px 20px 100px 20px;
    /* width: 400px; */
    text-align: center;
    margin: 50px 20px 100px 20px;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
}
.col-4
{
    width: 400px;
}
.col-8
{
    width: 750px;
    margin: 50px 50px 100px 50px;
}
