<div id="head">
    <div>QuizApp</div>
</div>
<div id="body">
    <h2>Admin Home</h2>
    <div id="box" class="row">
        <!-- <form #fileupload="ngForm" (submit)="upload(fileupload)">
            <label>Paste your json code here</label>
           <input type="file" name="jsonfile" ngModel>
            <br>
            <textarea type="text"></textarea>
            <input type="submit" class="btn btn-dark" value="upload">
        </form> -->
        <div class="col-4">
        <div>Upload your JSON file</div><br>
        <a href="https://quizapp-19c66-default-rtdb.firebaseio.com/" class="btn btn-primary">Upload</a>
        </div>
        <div class="col-8"> 
            <h2>Instructions</h2>
            <ul>
                <li>After clicking this button it will redirect to firebase</li>
                <li>Click on three dot</li>
                <li>then select import jsonfile</li>
                <li>Browse your file from your local system</li>
                <li>then click import button</li><br>
                <h3>If you don't have an account use below logins</h3>
                <br>
                <li>Mail Id: rajasekar.rs525@gmail.com</li>
                <li>Password: 9500400926</li>
            </ul>
        </div>
    </div>
  
</div>